RewriteEngine On
RewriteBase /

# If the requested resource doesn't exist as a file or directory, rewrite to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
